* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: #b9b9c5;
  min-height: 100vh;
  border: 10px solid black;
}
.content {
  max-width: 900px;
  margin: 0 auto;
}
.image_container {
  width: 100px;
  height: 100px;
}
